:root {
  --main-text-color: #757575;
  --titel-text-color: #212121;
  --accent-color: #2196f3;
  --primary-button-bg-color: #2196f3;
  --logo-web-text-color: #2196f3;
  --logo-studio-text-color: #000000;
  --nav-link: #212121;
}
body {
  background-color: #ffffff;
  color: var(--main-text-color);
  font-family: roboto, sans-serif;
}
a {
  text-decoration: none;
}
/* обнуление спска точки */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* навигация */
.main-nav {
  display: flex;
  align-items: center;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  outline: 2px solid blueviolet;
}
/* логотип компании */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.8;
  letter-spacing: 0.03em;
}
.logo:hover {
  color: var(--accent-color);
}
.logo-web {
  color: var(--logo-web-text-color);
}
.logo-studio {
  color: var(--logo-studio-text-color);
}
.foot-logo-studio {
  color: #ffffff;
}
/* навигация */
.site-nav {
  display: flex;
  margin-left: 85px;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--nav-link);
  font-weight: 500;
  font-size: 14px;
  line-height: 0.87px;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item + .item {
  margin-left: 30px;
}
.auth-nav .link-namber {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--nav-link);
  font-weight: 500;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.02em;
}
.auth-nav .link-namber:hover,
.auth-nav .link-namber:focus {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link-namber {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
/* герой */
.hero {
  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  background-color: aqua;
  outline: 3px solid tomato;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}
/* заголовки */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* фючерс */
.slogan-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--titel-text-color);
}
.feature-title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.feature .text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
}
.names-title {
  margin-top: 0;
  margin-bottom: 10;
  color: var(--titel-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.down {
  margin-bottom: 94px;
}
.slogon
/* род деятельности */
.section 

.direction 

/* сотрудники */
.img-team {
  margin-bottom: 30px;
}
.section-employees {
  background-color: #bbb3e2;
}
.team .social-networks .networks:hover,
.social-networks .networks:focus {
  color: var(--accent-color);
  list-style: none;
}
.prof-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
/* клиенты */
/* цвет текста заголовка */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--titel-text-color);
}
.customers .company {
  color: #2196f3;
}
.customers .company:hover,
.customers .company:focus {
  color: var(--accent-color);
  list-style: none;
}
/* подвал */
.footer {
  background-color: #2f303a;
}
.footer-logo {
  list-style: none;
}
.address .address-link:hover,
.address .address-link:focus {
  color: var(--accent-color);
}
.address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.push {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.go:hover,
.go:focus {
  color: var(--accent-color);
}
.end {
  font-weight: normal;
  font-size: 12px;
  line-height: 2;
  /* or 200% */

  text-align: center;
  letter-spacing: 0.03em;
}
/* портфолио */
.work-list {
  color: var(--main-text-color);
}
.work-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titel-text-color);
}
.work-produc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.work-linke {
  color: var(--main-text-color);
}
.work-linke:hover,
.work-linke:focus {
  color: var(--accent-color);
}

/* button */
.button {
}
.button.primary:hover,
.button.primary:focus {
  color: var(--titel-text-color);
}
.button.primary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.button.secondary {
  background: var(--primary-button-bg-color);
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  widows: 200px;
  text-align: center;
}
/* #212121 цвет заголовкав */
/* #757575 цвет абзатцов */
/* второая часть цвет лого #000000 */
/* #2196F3 первоя часть лого */
/* font-family: Roboto; */
/* акцент #2196F3 */
/* цвет фона первичный #FFFFFF;*/
/* вторичны цвет фона #F5F4FA */
/* цвет футера #2F303A; */
